#bottomArticle {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  width: 100%;
  margin: 35px 0px;
  box-sizing: border-box;
  padding: 5px;

  h3 {
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0px;
  }

  #wifi , #skyscanner{
    width: auto;
	 margin: 10px 20px;
	 text-align: center;
    height: 80px;
    border: 2px solid var(--bar-color);
    border-radius: 5px;
    box-sizing: border-box;
 	
	  .bottom-comparison-price{
		  display: flex;
		  height: 100%;
	     width: 100%;
		  font-size: 3vw;

      a {
        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-flex-direction: row; /* Safari */
        flex-direction:         row;
        width: 100%;
        height: 100%;
		  
		  .bottom-country{
			  width: 40%; 
			  margin-top: 20px;
			  line-height: 20px;
			  text-align: left;
		  }
		  .bottom-price{
    				line-height: 80px;
    				display: -webkit-box;
    				display: -ms-flexbox;
   					 display: flex;
			      color: red;
    				font-weight: 700;
   					 
    				 
			  .wifi-price{
          width: 90%;
        }
			  .bottom-lawest-price{
			  width: 32vw;
				 float: right;
				  text-align: right;
				  
				  span{
					  font-size: 6vw;
				  }
		  }
		  }
        .bottom-image{
			padding-left: 3vw;
          width: 20vw;
			 float: right;

         .imageWifi{
           width: 20vw;
         }
         .imageSkyscanner{
           width: 22vw;
         }

          img.object-fit-img {
            object-fit: contain;
          	box-shadow: none;
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
          }
		  }
      }
	  }
  }
	


  #traicytalk {
    margin-left: 0px;
    font-size: 0.9em;
    margin-top: 3px;

    h3 {
      margin: 5px 0px;
    }

    #article-thres {
      height: calc(100% - 25px);
      line-height: 28px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0px 3px;
      box-sizing: border-box;

      li {
        padding-left: 3px;

        &:hover {
          text-decoration: underline;
        }
      }

      li + li {
        border-top: 1px solid var(--border-color);
      }

      .campaign {
        text-align: center;
        font-size: 1.1em;

        span {
          color: #f99000;

        }
      }
    }


    span.article-update_icon {
      background: #F9A825;
      padding: 1px 2px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      margin-left: auto;
      font-size: 0.8em;
    }

    span.article-new_icon {
      background: #df002c;
      padding: 1px 2px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      margin-left: auto;
      font-size: .8em;
    }	
	}
}