/*footer情報 */
.footer {
  width: auto;
}
.footer-container{
  width: auto
}
.footer-info{
  height: auto;
  width: 90vw;
  font-size: 14px;
  font-family: "Hiragino Kaku Gothic Pro";
  line-height: 30px;
  padding-left: 15px;
  padding-bottom: 5px;
}


.copyright {
  height: 50px;
  width: auto;
  background-color: #245BA7;
  text-align: center;

}
.copyright-banner {
  color: #fff;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 15px;
  line-height: 50px;
}


/* about トライシー st */

/* about トライシー en */