.recruit-top-img{
  width: 100vw;
  margin: 0;
}
.flow-for-application{
  text-align: center !important;
	p{
		text-align: center !important;
	}
}
.uls{
	margin-left: 5vw !important;
}
.center-contents{
  width:90vw;
  padding-right:5vw;
  padding-left:5vw;
}
.static-page-title-text{
  padding: 40px 0;
  color: #313131;
  font-size: 20px;
  font-family: "Hiragino Kaku Gothic Pro";
  text-align: center;
  font-weight: bold;
}
.static-page-body-text{
  color:#313131;
　line-height: 18px;
  text-align: left;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro";
  line-height: 30px !important;
  padding-bottom: 15px;
}
.static-page-body-bold{
  color: #313131;
  font-size: 16px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro";
  text-align: left;
  line-height: 50px;
}

.black-horizontal-devider {
   height: 5px;
   width: 10vw;
   background-color: #000000;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
	}