/* single.php の全体制御 */
article.post{
	width : 100%;
	max-width: 100%;
	box-sizing : border-box;
	padding : 0px 0px;
}
#content a {
	color: #000;
	text-decoration: none;
}
.site-content article{
	border-bottom : none;
}




/* メタデータ */

/* SNSシェアボタン */

/* 記事の中身 */
#primary {
	#content {
		.entry-content {
			font-size:16px;
			line-height : 20px;
			letter-spacing : 0.8px;
			padding: 0px 15px;
			color: var(--main-color);

			& > p {
				box-sizing : border-box;
				padding : 0px 5px;
				position : relative;
				text-indent : 1em;

				& >  a {
					color : black;
				}

				img {
					object-fit: contain;
					font-family: 'object-fit: contain;';
					height: 200px;
					width: 90%;
					display: block;
					margin: 0 auto;
				}
			}
		}

		footer.tag_box {
			margin: 10px 0px;
			margin-right: 5px;
			font-size: 14px;
			float: right;

			& > a{
				padding: 3px 5px 3px 5px;
				color: #fff !important;
				background : var(--main-title-background-color);
				border-radius: 5px;
				margin-right: 5px;
				text-decoration: none;
				line-height : 20px;
				height : auto;
				width : auto;
				box-sizing : border-box;
			}

			& > p {
				padding : 0;
				margin-top : 20px;
				padding-bottom : 10px;
				display : block;
				width : 100%;
				text-align : right;
				box-sizing : border-box;
			}
		}

		/* ページャー */
		.next-title {
			width: calc(100% - 15px*2);
			text-align: center;
			font-size: 14px;
			padding: 8px 15px;
			color: black;
			margin-bottom: 10px;
		}
		.page-numbers {
			text-align: center;
			font-size: 12px !important;
			padding: 10px 20px 10px !important;
			display: block !important;
			clear: both !important;
			margin-left: auto !important;
			margin-right: auto;

			.numbers {
				color: #fff;
				background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#9F9F9F),color-stop(0.02,#6C6C6C),color-stop(1,#525252));
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border: solid 1px #DCDCDC;
				border-color: #202020;
				padding: 6px 9px 6px 9px;
				text-decoration: none;
				font-size: 12px;

				&:hover{
					color: #fff !important;
					background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#9F9F9F),color-stop(0.02,#6C6C6C),color-stop(1,#525252)) !important;
				}
			}
			a {
				.numbers {
					color: black;
					background: white;
					border: 0px;
					font-weight: 700;
				}
			}
		}
		/* ページャー */

		/* 広告 */
		.sponsor{
			font-size : 10px;
			display : block;
			margin : 10px 0px 15px;
		}
		/* 広告 */
	} /* #content */
}
/* 記事の中身 */

/* シングル境界線削除 st */
.entry-content td, .comment-content td {
	border-top: none;
	padding: 0;
}
.entry-content table, .comment-content table {
	border-bottom: none;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 0;
	margin: 0;
	width: 0;
}



._popIn_recommend_header {
	background-color : var(--bar-color) !important;
	text-align : center !important;
}

/* 画像のobject-fit-img */

	p.wp-caption-text {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 5px;
	position: relative;
	text-indent: 1em;
	font-style: italic;
	font-size: 12px;
	font-size: .857142857rem;
	line-height: 2;
	color: #757575;
}