

// airline-tag-page.php
ul.airline_tag li{
	margin: 10px 0;
	margin-left: 20px;
	list-style-type: disc
}


/**
	タブ
**/
#famoustag {
	margin-bottom: 30px;
	#famoustag-tab-menu {
	  list-style: none;
	  background: white;
	  font-size: 0px;
	  li {
	    display: inline-block;
	    font-size: 16px;
	    font-weight: 400;
	    width: calc(100%/3);
	    line-height: 40px;
	    letter-spacing: normal;
	    text-align: center;
	    color: white;
	    background: var(--bar-color);
	  }

	  li.active {
	    background: white;
	    color: var(--bar-color);
	    background: #fff;
	    font-weight: 600;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    height: 100%;
			font-size: 16px;
		}
	}
	div.passive{
	    display: none;
	}
}

#traicytag_include_talk {
  .catCards {
    width: auto;
  }
  .catCards + .catCards {
    margin-top: 10px;
  }
}
