$widthPC: 1160px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン

body {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  background-color: #F2F2F2;

  .btn {
    margin-top: 5%;
    text-align: center;

    a + a {
      margin-left: 15%;
    }
    .square_btn{
      display: inline-block;
      font-size: calc(1.3vw + 5px);
      width: 40%;
      height: 60px;
      line-height: 60px;
      border-radius: 25px;
      text-decoration: none;
      color: #FFF;
      font-weight: 700;

      background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      transition: .4s;
    }

    .square_btn:hover {
      background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
      background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    }
  }

  div.ideathon {
    height: 720px;
    width: 100%;
    position: relative;

    @media screen and (max-width: $widthSp) {
      height: 300px;
    }

    img {
      object-fit: cover;
      font-family: 'object-fit: cover;';
      height: 100%;
      width: 100%;
    }

    div.box {
      position: absolute;
      top: 15%;
      left: 23%;
      color: white;
      font-family: 'Montserrat';
      width: 54%;

      & > h1, h2, h3 {
        text-align: center;
        margin: 0px;
      }
      h1 {
        font-size: calc(10vw + 5px);
        font-weight: 900;
      }
      h2 {
        font-size: calc(4.5vw + 5px);
        font-weight: 700;
      }
      h3 {
        font-size: calc(3vw + 5px);
        font-weight: 700;
      }
    }
  }

  div.theme {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10%;
    background: #00A0E8;
    font-size: calc(1.9vw + 5px);
    text-align: center;
    font-weight: 700;
    color: white;
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
  }

  div.items {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    margin: 100px auto;
    padding-bottom: 60px;

    @media screen and (max-width: $widthSp) {
      width: 90%;
      margin: 30px auto;
    }

    div.requirements {
      font-size: calc(3.2vw + 5px);
      line-height: 120px;
      text-align: center;
      width: 100%;
      height: 100px;

      @media screen and (max-width: $widthSp) {
        line-height: 60px;
        height: 60px;
      }

    }
    div.underline {
      width: 10%;
      height: 10px;
      border-bottom: 4px solid;
      margin: 0 auto;
    }

    .item {
      width: 90%;
      height: 120px;
      text-align: center;
      display: flex;
      border-bottom: 2px solid;
      margin: 0 auto;


      @media screen and (max-width: $widthSp) {
        height: 60px;
      }


      & > div {
        width: 50%;
        font-size: calc(2vw + 5px);
        font-weight: 500;
        line-height: 120px;

        @media screen and (max-width: $widthSp) {
          line-height: 60px;
        }

      }

      .content {
        font-size: calc(1.5vw + 5px);
        display: flex; /* 子要素をflexboxで揃える */
        flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
        justify-content: center; /* 子要素をflexboxにより中央に配置する */
        align-items: center;  /* 子要素をflexboxにより中央に配置する */
        line-height: calc(3.8vw + 5px);

        & > span {
          font-size: calc(1.2vw + 5px);
        }
      }
    }
  }

  div.rules {
    width: 100%;
    height: 520px;
    background: #00A0E8;
    position: relative;
    margin-top: 100px;

    @media screen and (max-width: $widthSp) {
      height: 300px;
      margin-top: 50px;
    }

    .btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 50px;

      @media screen and (max-width: $widthSp) {
        margin-bottom: 15px;
      }
    }

    div.rule {
      position: absolute;
      width: 30%;
      height: 50%;
      top: 20%;
      background: white;

      div.title {
        height: 25%;
        font-size: calc(2.6vw + 5px);
        font-weight: 500;
        line-height: 200%;
        text-align: center;
        color: #FF7A01;
      }

      div.content {
        display: flex; /* 子要素をflexboxで揃える */
        flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
        justify-content: center; /* 子要素をflexboxにより中央に配置する */
        align-items: center;  /* 子要素をflexboxにより中央に配置する */
        width: 100%;
        height: 75%;
        font-size: calc(1.1vw + 5px);
        padding: 0 15px;
        box-sizing: border-box;
        font-weight: 600;

        & > div {
          & > span {
            font-size: calc(0.8vw + 5px);
            color: #bfbfbf;
          }
        }
      }
    }

    div.rule.left {
      left: 10%;
      & > span {
        font-size: calc(0.8vw + 5px);
      }
    }

    div.rule.right {
      right: 10%;
    }
  }

  div.bottom {
    height: 400px;
    background-color: #005BAB;
    position: relative;

    @media screen and (max-width: $widthSp) {
      height: 150px;
    }


    & > a {
      font-size: 1vw;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}
