// Mixins

//  ##### Premade mixins by Ikeda ######## 
@import './_variables.scss';
 .Row{
  display: flex;
  align-items: center;
}


.Ad-banner {
  width: 730px;
  height: 90px;
  margin-top: 25px;
}

.Ad-banner-small{
  height: 75px;
  width: 380px;
  border-radius: 5px;
  background: $white;
}
.Ad-card{
  width: 100%;
  max-width: 300px;
  height: 250px;
  background: $white;
}

.Ad-card-PR{
  min-height: 310px;
  max-width: 275px;
  background: $white;
}

.Ad-sidebar-vertical{
  height: 600px;
  width: 300px;
  background: $lightBlue;
}

.Article-card{
  min-height: 320px;
  max-width: 275px;
  background: $white;
}

.Article-card-simple{
  min-height: 285px;
  max-width: 275px;
  background: $white;
}

.Reservation-link-box{
  height: 50px;
  width: 120px;
  border-radius: 5px;
  border:  $disabled solid 0.5px;
}

@mixin title-border-bottom{
  border-bottom: $lightGray solid 1px;
}

@mixin fontFallback($font: $mainFont) {
  font-family: $font, 'sans-serif';
}
@mixin articleTitle($font: $mainFont) {
  @include fontFallback($font);
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 46px;
  word-wrap: break-word;
}

@mixin headline($font: $mainFont) {
  @include fontFallback($font);
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 42px;
  word-wrap: break-word;
}



@mixin subHeader($font: $mainFont) {
  @include fontFallback($font);
  font-size: 24px;
  letter-spacing: 0.25px;
  line-height: 30px;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: 500;
}

@mixin title($font: $mainFont) {
  @include fontFallback($font);
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 38px;
  word-wrap: break-word;
  font-weight: $bold;
}

@mixin smallTitle($font: $mainFont) {
  @include fontFallback($font);
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 28px;
  word-wrap: break-word;
}

@mixin body($font: $mainFont) {
  @include fontFallback($font);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: $bold;
}

@mixin contentsDefault($font: $mainFont) {
  @include fontFallback($font);
  font-size: 17px;
  letter-spacing: 0.4px;
  line-height: 24px;
  word-wrap: break-word;
  text-decoration: none;
  color: $black;
}

@mixin contentsSmall($font: $mainFont) {
  @include fontFallback($font);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  word-wrap: break-word;
  text-decoration: none;
  color: $black;
}

@mixin caption($font: $mainFont) {
  @include fontFallback($font);
  font-size: 12px;
  letter-spacing: 0.25px;
  line-height: 22px;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: $bold;
}

@mixin small($font: $mainFont) {
  @include fontFallback($font);
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 18px;
  word-wrap: break-word;
  text-decoration: none;
}

// Avatar mixin

@mixin avatar-base($size: $unit-8) {
  font-size: $size / 2;
  height: $size;
  width: $size;
}

// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $primary-color) {
  #{$name} {
    background: $color;
  }
}

// Button variant mixin
@mixin button-variant($color: $primary-color) {
  background: $color;
  border-color: darken($color, 3%);
  color: $light-color;
  &:focus {
    @include control-shadow($color);
  }
  &:focus,
  &:hover {
    background: darken($color, 2%);
    border-color: darken($color, 5%);
    color: $light-color;
  }
  &:active,
  &.active {
    background: darken($color, 7%);
    border-color: darken($color, 10%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $light-color;
      border-left-color: $light-color;
    }
  }
}

@mixin button-outline-variant($color: $primary-color) {
  background: $light-color;
  border-color: $color;
  color: $color;
  &:focus {
    @include control-shadow($color);
  }
  &:focus,
  &:hover {
    background: lighten($color, 50%);
    border-color: darken($color, 2%);
    color: $color;
  }
  &:active,
  &.active {
    background: $color;
    border-color: darken($color, 5%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $color;
      border-left-color: $color;
    }
  }
}

// Clearfix mixin
@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// Component focus shadow
@mixin control-shadow($color: $primary-color) {
  box-shadow: 0 0 0 .1rem rgba($color, .2);
}

// Component transition
@mixin control-transition() {
  transition: all .2s ease;
}

// Label base style
@mixin label-base() {
  border-radius: $border-radius;
  line-height: 1.2;
  padding: .1rem .15rem;
}

@mixin label-variant($color: $light-color, $bg-color: $primary-color) {
  background: $bg-color;
  color: $color;
}

// Margin utility mixin
@mixin margin-variant($id: 1, $size: $unit-1) {
  .m-#{$id} {
    margin: $size;
  }
  .mb-#{$id} {
    margin-bottom: $size;
  }
  .ml-#{$id} {
    margin-left: $size;
  }
  .mr-#{$id} {
    margin-right: $size;
  }
  .mt-#{$id} {
    margin-top: $size;
  }
  .mx-#{$id} {
    margin-left: $size;
    margin-right: $size;
  }
  .my-#{$id} {
    margin-bottom: $size;
    margin-top: $size;
  }
}

// Padding utility mixin
@mixin padding-variant($id: 1, $size: $unit-1) {
  .p-#{$id} {
    padding: $size;
  }
  .pb-#{$id} {
    padding-bottom: $size;
  }
  .pl-#{$id} {
    padding-left: $size;
  }
  .pr-#{$id} {
    padding-right: $size;
  }
  .pt-#{$id} {
    padding-top: $size;
  }
  .px-#{$id} {
    padding-left: $size;
    padding-right: $size;
  }
  .py-#{$id} {
    padding-bottom: $size;
    padding-top: $size;
  }
}

// Shadow mixin
@mixin shadow-variant($offset) {
  box-shadow: 0 $offset ($offset + .05rem) * 2 rgba($dark-color, .3);
}

// Text color utility mixin
@mixin text-color-variant($name: ".text-primary", $color: $primary-color) {
  #{$name} {
    color: $color;
  }

  a#{$name} {
    &:focus,
    &:hover {
      color: darken($color, 5%);
    }
  }
}

// Text Ellipsis
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Toast variant mixin
@mixin toast-variant($color: $dark-color) {
  background: rgba($color, .9);
  border-color: $color;
}
