@import './spectre/_variables.scss';
@import './spectre/_mixins.scss';
@import './spectre/_modals.scss';
@import './spectre/_forms.scss';
@import 'style.scss';
@import 'front-page.scss';
@import 'single.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'notice.scss';
@import 'compe-box.scss';
@import 'page.scss';
@import 'side-bar.scss';
@import 'bottom-article.scss';
@import 'tag.scss';
@import 'fixation.scss';
@import "form.min.css";
@import 'jquery.bxslider.min.css';
@import  'desktop-lp-banner.scss';
@import 'ad-banner-730-90.scss';
@import 'page-29574.scss';
@import 'page-21076.scss';
@import 'talk-wifi-ticket-container.scss';
@import 'front-traicy-talk.scss';

.bx-wrapper {
  position: relative;
  padding: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -moz-box-shadow: 0 0 5px #ccc;
  background: #fff;
  margin-bottom: 0px;
  border: none;
  box-shadow: none;
}

