@import './spectre/_mixins.scss';
@import './spectre/_variables.scss';


.tabs-row-talk {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 23px 0 23px;
  border: $white solid 4px;
  border-bottom: none;
}

#talk-tab-left {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  list-style: none;

  .select {
    background: $white;
    color: $primary;
  }
}

.tab-title {
  @include subHeader;
  color: $blue;
  margin-right: 36px;
}

.traicy-talk-tab {
  display: inline-block;
  background: $paleBlue;
  color: $blue;
  @include body;
  height: 40px;
  margin-right: 20px;
  padding: 10px 10px 0 10px;
  border-radius: 3px;

  & > .ticket, .hotel {
    @include body;
    color: $primary;
  }
}

.arrow-attempt-row-talk{
  display: inline-flex;
  align-items: center;
}

.attempt-text-talk{
  @include body;
  display: inline-block;
  color: $primary;
  width: 170px;
  cursor: pointer;
  &:hover{
    opacity: 0.6;
  }
}

#traicy-talk-slider-container{
  width: 100%;
  border-radius: 5px;
  background: $paleBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border: $white solid 4px;
  border-top: none;
}

#thres{
  width: 95%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:20px 60px;
  background: $white;
  border-radius: 8px;
}

.talk-category-title{
  @include title;
  color: $blue;
  text-decoration: none;
}

.talk-title-text{
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  @include body;
  color: $primary;
  @include title-border-bottom;
  width: 335px;
  &:hover {
    color: $skyBlue;
    border-bottom: $skyBlue solid 3px;
  }
}

.bx-viewport{
  height: auto;
  background: $paleBlue;
}