/* 主にサイドバーに関するスタイル PC版 */
@import './spectre/_mixins.scss';
@import './spectre/_variables.scss';

.right-contents {
  width: 300px;
	margin-top:40px;
  display: flex;
  flex-direction: column;
	background: $paleBlue;
	border-right: $paleBlue 1px solid;
}

//  サイドバーの広告カード

.ad-cards-container{
  width: 100%;
}

/* キャンペーンボックス */
#sidebar #campaign {
  width: 100%;
  margin-top: 10px;
}

#sidebar h1 {
  font-size: 20px;
  margin-top: 10px;
}

#sidebar #campaign a {
  color: black;
  display: block;
  height: 70px;
  width: 100%;
}



#sidebar .campaignContents {
  height: 100%;
  display: block;
  position: relative;
}

#sidebar .campaignContents .campaignImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}

#sidebar .campaignContents .campaignImg > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#sidebar .campaignContents > div {
  height: 100%;
  width: 70%;
  position: relative;
  font-size: 0;
}

#sidebar .campaignContents .campaignTitle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  padding: 3px 5px 3px 3px;
  color: var(--main-title-color);
}

#sidebar .campaignContents .campaignDate {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0px;
  font-size: 12px;
  width: 100%;
  height: 20%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

#sidebar .campaignContents:hover {
  background-color: rgba(255, 255, 204, 0.7);
}

#sidebar .campaignContents .campaignTitle:hover {
  text-decoration: underline;
}

/* アクセスランキング */
// 順位の付け方参考　https://hamatori.net/2017/08/wordpress-popular-posts-ranking-no/
.popular-articles {
  width: 100%;
  padding: 20px 18px;
  background: $white;
  margin-top: 16px;
  margin-bottom: 25px;
  counter-reset: rank-number;
}
.airline-tags-headline-ja{
	  @include body;
  color: $primary;
	margin-top:20px;

}

.headline-ja {
  @include body;
  color: $primary;
	&:hover{
		opacity: 0.6;
	}
}
.small-popular-article {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}
.small-popular-article-photo ::before {
  content: counter(rank-number);
  counter-increment: rank-number;
  @if rank-number == 1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: normal;
    z-index: 1;
    background: yellow;
  } @else if rank-number ==2 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    font-weight: normal;
    z-index: 1;
    background: gray;
  } @else if rank-number ==3 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    font-weight: normal;
    z-index: 1;
    background: orange;
  } @else {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
	color: $white;
    font-weight: normal;
    z-index: 1;
    background: $lightBlue;
  }
}

.small-popular-article-text {
  @include caption;
  color: $primary;
  width: 140px;
  margin-left: 10px;
}

//  タグ一覧
.sidebar-tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.white-tag {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  background: $white;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
	border: $paleBlue 0.5px solid;
	&:hover{
		opacity: 0.6;
	}
}

.yellow-tag {
  font-size: 12px;
  color: $yellow;
  margin-right: 4px;
}

.white-tag-text {
  @include caption;
  color: $primary;
}
.white-tag-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag-attempt-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.yellow-angle {
  color: $yellow;
  font-size: 14px;
  margin-right: 2px;
}
.attempt-text {
 @include body;
  display: inline-block;
  color: $primary;
  margin-bottom: 0;
		&:hover{
		opacity: 0.6;
	}
}

// 採用情報カード
.sidebar-recruit-card {
  @extend .Ad-card;
	height:289px;
  position: relative;
  background: $white;
  margin: 25px 0;
  &:hover{
    opacity: 0.6;
  }
}
.recruit-anchor{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recruit-section-top {
  height: 100px;
  background: $lightBlue;
  padding: 10px 5px;
}

.recruit-top-text {
  color: $white;
  @include headline;
  font-weight: $bold;
  text-align: center;
}

.recruit-section-center {
  padding: 5px 16px;
  background: $blue;
}

.recruit-center-text {
  color: $white;
  @include smallTitle;
}

.recruit-section-bottom {
	background: $white;
  width: 100%;
	display: inline-flex;
  justify-content: center;
}
.sidebar-comp-logo{
  height: 100%;
  width: 100px;
}



// Traicyメルマガ
.headline-ja {
  @include body;
  color: $black;
}

.sidebar-mail-register {
  width: 100%;
  margin: 25px 0;
  padding: 20px;
  background: $white;
}

.mail-register-text {
  color: $primary;
  @include caption;
  margin-bottom: 16px;
}
.mail-register-description {
  @extend .mail-register-text;
  margin-bottom: 0;
}

.mail-input-container {
  width: 100%;
  position: relative;
}

.mail-register-input {
  @extend .searchInput;
  width: 100%;
  margin: 16px 0;
  &::placeholder {
    @include caption;
    color: $heavyGray;
  }
}
.mail-register-button {
  height: 28px;
  width: 60px;
  padding: 5px 10px;
  border-radius: 0 20px 20px 0;
  color: $white;
  font-size: 12px;
  font-family: $mainFont;
  position: absolute;
  border: none;
  background: $blue;
  top: 17px;
  left: 200px;
  cursor: pointer;
}

.sns-logos-row {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mail-register-twitter {
  color: $twitter;

}
.mail-register-facebook {
  color: $facebook;

}
.mail-register-google {
  color: $google;

}
.mail-register-yahoo {
  color: $yahoo;
}

