.archive-header{
	margin-bottom:5px;
	margin-bottom:0.357142857rem;
	padding-bottom:5px;
	padding-bottom:0.357142857rem;
}
header.archive-header h1.archive-title{
	font-size: 15px;
}

.archive-header .tag-description{
	background-color: #fff;
	font-size:1.1em;
}

header.archive-header{
	background : var(--main-background-color);
	font-size : 16px;
	border-bottom : 2px solid var(--navigation-bar-color);
	border-left : 5px solid var(--navigation-bar-color);
}
header.archive-header h1.archive-title{
	font-size : 16px;
	margin-left : 3px;
}


.tag-description {
  h2 {
    font-size: 1em;
    background: var(--bar-color);
    padding: 0.4em 0px 0.4em 1em;
    color: white;
    font-weight: 900;
  }


  .flex-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    margin: 5px 0px;
    padding: 5px 0px;

    & > div {
      margin: 1% 0;
    }
    .left {
      width: 30%;
      margin: auto;
      img {
        object-fit: contain;
        width: 98%;
      }
    }
    .right {
      width: 68%;
			font-size: small;

      h3 {
        font-size: 15px;
				margin: 8px 0;
      }

      ul {
        li {
          font-size: 12px;
          text-indent: 1em;
        }
      }

			table{
				width: 100%!important;
				border-spacing: 12px 5px;
				border-collapse: separate;
				td:first-child{
					font-weight: bold;
				}
			}
    }
  }
}

// airline-tag-page.php
ul.airline_tag li{
	margin: 10px 0;
	margin-left: 20px;
	list-style-type: disc
}


/**
	タブ
**/
#famoustag {
	margin-bottom: 30px;
	#famoustag-tab-menu {
	  list-style: none;
	  background: white;
	  font-size: 0px;
	  li {
	    display: inline-block;
	    font-size: 16px;
	    font-weight: 400;
	    width: calc(100%/3);
	    line-height: 40px;
	    letter-spacing: normal;
	    text-align: center;
	    color: white;
	    background: var(--bar-color);
	  }

	  li.active {
	    background: white;
	    color: var(--bar-color);
	    background: #fff;
	    font-weight: 600;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    height: 100%;
			font-size: 16px;
		}
	}
	div.passive{
	    display: none;
	}
}

#traicytag_include_talk {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}
