// 右にあったトーク
@import './spectre/_mixins.scss';
@import './spectre/_variables.scss';

.talk-wifi-ticket-container {
  width: 100%;
  background: $white;
  margin:30px 0;
}

#category-tab-items {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: $white solid 2px;
}

.category-tab-item-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $lightBlue;
  height: 40px;
  min-width: 203px;
  @include body;
  padding: 0 62px;
  color: $white;
  border-right: $white solid 2px;
  &:last-child {
    border-right: none;
  }
}

.select {
  background: $white;
  color: $primary;
}

.tab-content {
  width: 100%;
  background-color: $paleBlue;
}

